%p#notice= notice

%p
	%b Time:
	= @call.time
%p
	%b Call:
	= link_to 'Initiate Conference Call', initiate_conference_path
%p
	%b Participants:
	- @call.participants.each do |participant|
		=participant.name
		=participant.phone

= link_to 'Edit', edit_call_path(@call)
\|
= link_to 'Back', calls_path
