%p
	%b Time:
	= @call.time
%p
	%b Call:
	= link_to 'Initiate Conference Call', initiate_conference_path
%hr
%p
	%b Participants:
	%hr
	= render @participants || 'No participants'

= link_to 'Edit', edit_call_path(@call)
\|
= link_to 'Back', calls_path
